.contact-me-section {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  font-family: var(--font-sans);
}

.contact-me-container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.contact-me-container > h2 {
  font-size: 5rem;
}

.contact-me-container > p {
  font-size: 2.5rem;
}

.contact-me-container > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
}

.contact-me-container > ul > li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-basis: 200px;
}

.contact-me-container > ul > li > a {
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--main-font);
  position: relative;
}

.contact-me-container > ul > li > a:hover {
  color: var(--accent);
}

.contact-me-container > ul > li > a:hover::before {
  opacity: 1;
  transform: translateX(0);
}

.contact-me-container > ul > li > a::before {
  content: "→";
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  left: -30px;
}

@media (max-width: 1024px) {
  .contact-me-container {
    width: 85%;
  }
  .contact-me-container > h2 {
    font-size: 3.6rem;
  }
  .contact-me-container > p {
    font-size: 2.3rem;
  }
}

/*  Tablet Mode */
/* width <= 768px */

@media (max-width: 768px) {
  .contact-me-container {
    width: 90%;
  }
  .contact-me-container > h2 {
    font-size: 3rem;
  }
  .contact-me-container > p {
    font-size: 2rem;
  }

  .contact-me-container > ul {
    gap: 50px;
  }
}
