.about-me-section {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../assets/backgrounds/Curve.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me-container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-sans);
}

.about-me-container > h2 {
  font-size: 5.6rem;
  font-weight: 600;
}

.about-me-container > p {
  font-size: 1.5rem;
  color: var(--secondary-font);
  position: relative;
  padding-left: 25px;
}

.about-me-container > p::before {
  content: "";
  position: absolute;
  left: 0;
  width: 15px;
  background: var(--border-top-bottom);
  height: 100%;
}

ul.info-list {
  line-height: 3rem;
}

ul.info-list > li.info-list-item > span {
  display: flex;
  align-items: center;
}

ul.info-list > li.info-list-item {
  list-style: none;
  display: flex;
  color: var(--secondary-font);
  gap: 10px;
  align-items: center;
  position: relative;
}

ul.info-list > li.info-list-item:hover {
  color: var(--accent);
}

ul.info-list > li.info-list-item:hover::before {
  opacity: 1;
  transform: translate(0);
}

ul.info-list > li.info-list-item::before {
  content: "→";
  position: absolute;
  left: -30px;
  opacity: 0;
  transform: translate(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

ul.info-list > li.info-list-item > a {
  text-decoration: none;
  color: var(--font-mono);
}

.card-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

/* Laptop or Tablet Mode */
/* width <= 1024px */

@media (max-width: 1024px) {
  .about-me-container {
    width: 85%;
  }

  .card-wrapper {
    width: 85%;
  }
  .about-me-container > h2 {
    font-size: 5rem;
  }

  .about-me-container > p {
    font-size: 1.3rem;
  }

  ul.info-list > li.info-list-item {
    font-size: 1rem;
  }
}

/*  Tablet Mode */
/* width <= 768px */

@media (max-width: 768px) {
  .about-me-container {
    width: 90%;
  }

  .card-wrapper {
    width: 90%;
  }

  .about-me-container > h2 {
    font-size: 4.5rem;
  }
  .about-me-container > p::before {
    width: 13px;
  }
  .about-me-container > p {
    font-size: 1.1rem;
    padding-left: 20px;
  }

  ul.info-list > li.info-list-item {
    font-size: 1rem;
  }
}

/*  Mobile Mode */
/* width <= 425px*/

@media (max-width: 426px) {
  .about-me-container {
    width: 95%;
  }

  .card-wrapper {
    width: 95%;
  }

  .about-me-container > p::before {
    width: 10px;
  }

  .about-me-container > h2 {
    font-size: 3.5rem;
  }
  .about-me-container > p {
    font-size: 1rem;
    padding-left: 15px;
    text-align: justify;
  }

  ul.info-list > li.info-list-item {
    font-size: 0.8rem;
  }

  .card-wrapper {
    gap: 20px;
    flex-direction: column;
  }
}

@media (max-width: 376px) {
  .about-me-container > h2 {
    font-size: 3rem;
  }
  .about-me-container > p {
    font-size: 0.8rem;
    padding-left: 15px;
    text-align: justify;
  }
}

@media (max-width: 321px) {
  .about-me-container > h2 {
    font-size: 2.5rem;
  }
  ul.info-list > li.info-list-item {
    font-size: 0.7rem;
  }
}
