.project-card {
  width: 100%;
  min-height: 350px;
  border: none;
  background-color: var(--content-card);
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  position: relative;
  z-index: auto;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.project-card::after,
.project-card::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent,
    #8e2de2,
    #4a00e0,
    #8e2de2
  );
  animation: spin 3s linear infinite;
}

.project-card::before {
  filter: blur(10px);
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.project-card .image-box-wrapper {
  width: 40%;
}

.image-box-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.data-info-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.data-info-wrapper > h3 {
  font-size: 3rem;
}

.data-info-wrapper > p {
  font-size: 1rem;
  color: var(--secondary-font);
}

.link-wrapper {
  display: flex;
  gap: 20px;
}

.link-wrapper > a {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-image-source: var(--border-right-left);
  border-image-slice: 1;
  color: var(--main-font);
  text-decoration: none;
  border-radius: 10px;
  font-size: 1rem;
  position: relative;
  z-index: 1;
}

.link-wrapper > a:hover::before {
  transform: scaleX(1);
}

.link-wrapper > a::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--border-right-left);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

p.tech-stack-wrapper {
  display: flex;
  gap: 10px;
  font-size: 0.8rem;
  flex-wrap: wrap;
  align-items: center;
}

p.tech-stack-wrapper > span.tech-stack-list {
  padding: 3px 6px;
  background: var(--background-span);
}

@media (max-width: 1024px) {
  .data-info-wrapper > h3 {
    font-size: 2rem;
  }

  .data-info-wrapper > p {
    font-size: 0.8rem;
  }
}

/* Tablet Mode */
/* width <= 768px */

@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
  }

  .project-card .image-box-wrapper {
    width: 100%;
  }

  .data-info-wrapper {
    width: 100%;
  }

  .data-info-wrapper > h3 {
    font-size: 2.5rem;
  }

  .data-info-wrapper > p {
    font-size: 1rem;
  }

  .link-wrapper {
    justify-content: center;
  }
}
