.header-section {
  width: 100%;
  height: 80px;
  top: 0;
  background: var(--primary-background);
  position: sticky;
  z-index: 100;
}

.header-section > .header-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section > .header-content > img {
  width: 80px;
  height: 80px;
}

#toogle {
  cursor: pointer;
}
