.header-section {
  width: 100%;
  height: 80px;
  top: 0;
  background-color: var(--content-card);
  position: sticky;
  z-index: 100;
}

#close {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  transform-origin: center;
}

#close:hover {
  color: var(--accent);
  cursor: pointer;
  transform: rotate(90deg);
}

.header-section > .header-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section > .header-content > img {
  width: 80px;
  height: 80px;
}

#toogle {
  cursor: pointer;
}

#toogle:hover {
  color: var(--accent);
}

/* Sidebar Section */
.sidebar-wrapper {
  width: 100%;
  min-height: 120vh;
  padding: 20px;
  top: 0;
  position: fixed;
  background: rgba(20, 20, 20, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

.sidebar-wrapper.open {
  transform: translateY(0);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 30px;
  min-height: 100%;
}

.sidebar-content > .sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 4rem;
  line-height: 6rem;
  font-family: var(--font-sans);
  font-weight: 400;
}

ul.link-wrapper > li.link-item {
  list-style: none;
  margin: 0 20px;
  position: relative;
}

ul.link-wrapper > li.link-item > a {
  color: var(--primary-font);
  text-decoration: none;
}

ul.link-wrapper > li.link-item::after {
  position: absolute;
  content: "â†";
  top: 0;
  font-size: 2.3rem;
  right: -50px;
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

ul.link-wrapper > li.link-item > a.active {
  color: var(--accent);
  font-weight: 600;
}

ul.link-wrapper > li.link-item:hover {
  color: var(--accent);
  cursor: pointer;
}

ul.link-wrapper > li.link-item:hover::after {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 1024px) {
  ul.link-wrapper > li.link-item > a {
    font-size: 3rem;
  }

  ul.link-wrapper {
    line-height: 5rem;
  }
  .sidebar-content {
    gap: 20px;
  }
  ul.link-wrapper > li.link-item::after {
    top: 10px;
  }
}

@media (max-width: 768px) {
  ul.link-wrapper > li.link-item::after {
    right: -20px;
    top: 10px;
  }
}

@media (max-width: 426px) {
  ul.link-wrapper > li.link-item > a {
    font-size: 2.5rem;
  }

  .sidebar-content {
    gap: 10px;
  }

  ul.link-wrapper > li.link-item::after {
    right: -10px;
    top: 20px;
  }
}

@media (max-width: 376px) {
  ul.link-wrapper > li.link-item > a {
    font-size: 2.3rem;
  }

  .sidebar-content {
    gap: 5px;
  }
}

@media (max-width: 321px) {
  ul.link-wrapper > li.link-item > a {
    font-size: 2rem;
  }

  ul.link-wrapper > li.link-item::after {
    top: 30px;
    font-size: 2rem;
  }
  .sidebar-content {
    gap: 5px;
  }
}
