* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-background: #000000;
  --content-card: #1e1e1e;
  --main-font: #fff;
  --secondary-font: #d9d9d9;
  --border-right-left: linear-gradient(to right, #8e2de2, #4a00e0);
  --border-top-bottom: linear-gradient(to bottom, #8e2de2, #4a00e0);
  --background-circle: radial-gradient(circle, #8e2de2, #4a00e0);
  --background-span: linear-gradient(to right, #8e2de2, #4e197c);
  --shadow: #8e2de2;
  --accent: #c084fc;
  --font-sans: "Montserrat", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

body {
  color: var(--main-font);
  background: var(--primary-background);
  cursor: default;
}
