.box > h3 {
  font-family: var(--font-sans);
  font-size: 5rem;
  font-weight: 600;
  color: var(--shadow);
  filter: drop-shadow(0 0 10px var(--shadow));
}

.box > p {
  font-family: var(--font-sans);
  font-size: 3.75rem;
  color: var(--secondary-font);
}

/* Laptop or Tablet Mode */
/* width <= 1024px */

@media (max-width: 1024px) {
  .box > h3 {
    font-size: 4.5rem;
  }
  .box > p {
    font-size: 3.45rem;
  }
}

/* Laptop or Tablet Mode */
/* width <= 768px */

@media (max-width: 768px) {
  .box {
    text-align: center;
  }

  .box > h3 {
    font-size: 4rem;
  }
  .box > p {
    font-size: 3rem;
  }
}
